<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Springboot Sample</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
    	<div class="container">
	        <h1>社員詳細</h1>
			<hr class="style-one">
		    <ul>
		        <li th:each="error : ${errors}" class="text-danger">
		            <span th:text="${error.getDefaultMessage()}">Error message</span>
		        </li>
		    </ul>
			<form id="update_form" class="form-group" action="#" 
				th:action="@{/emp/{id}/confirm(id=*{id})}" th:object="${emp}" method="post">
				<table>
					<tbody>
						<tr>
							<th class="col-md-4">社員名</th>
							<td><input type="text" th:field="${emp.name}" /></td>
						</tr>
						<tr>
							<th class="col-md-4">電話番号</th>
							<td><input type="text" th:field="${emp.tel}" /></td>
						</tr>
					</tbody>
	        	</table>
	        </form>
		    <div class="form-group">
		    	<input class="btn btn-default" type="submit" value="確認" form="update_form" />
		        <a class="btn btn-default" href="/emp">戻る</a>
		    </div>
		</div>
    </body>
</html>